In [1]:
import pandas as pd

In [2]:
import xlrd
import csv

In [3]:
df_nike_air_jordan_1_mid = pd.read_excel('datasets/nike_air_jordan_1_mid.xlsx', 'Sheet1', index_col=None)
df_nike_air_force_1_07 = pd.read_excel('datasets/nike_air_ force_1_07.xlsx', 'Sheet1', index_col=None)
df_nike_air_max_97 = pd.read_excel('datasets/nike_air_max_97.xlsx', 'Sheet1', index_col=None)
df_nike_air_max_270 = pd.read_excel('datasets/nike_air_max_270.xlsx', 'Sheet1', index_col=None)
df_nike_air_max_720 = pd.read_excel('datasets/nike_air_max_720.xlsx', 'Sheet1', index_col=None)
df_nike_air_vapormax_flyknit_3 = pd.read_excel('datasets/nike_air_vapormax_flyknit_3.xlsx', 'Sheet1', index_col=None)
df_nike_leborn_17 = pd.read_excel('datasets/nike_leborn_17.xlsx', 'Sheet1', index_col=None)
df_nike_m2K_tekno = pd.read_excel('datasets/nike_m2K_tekno.xlsx', 'Sheet1', index_col=None)
df_nike_react_element_55 = pd.read_excel('datasets/nike_react_element_55.xlsx', 'Sheet1', index_col=None)
df_nike_zoom_pegasus_turbo_2 = pd.read_excel('datasets/nike_zoom_pegasus_turbo 2.xlsx', 'Sheet1', index_col=None)
df_nike_tanjun = pd.read_excel('datasets/nike_tanjun.xlsx', 'Sheet1', index_col=None)

In [4]:
df_nike_leborn_17

,Unnamed: 0,Star rating,Texual reviews,Date
0,NaN,5,"The shoes were new, authentic, Great looking a...",2020-08-05
1,NaN,5,"My son (who is ""48"" ) loves them! I asked how ...",2020-08-05
2,NaN,5,Visually appealing. Supportive yet lightweight...,2020-06-22
3,NaN,3,J'ai commandé le modèle blanc avec motif vert ...,2020-06-16
4,NaN,5,I would highly recommend these. I liked them s...,2020-06-13
...,...,...,...,...
63,NaN,5,\nThey are a great pair of basketball shoes. I...,2019-09-26
64,NaN,4,Being a high constructed shoe it being so ligh...,2019-09-26
65,NaN,4,Love the overall concept of the shoe...the air...,2019-09-26
66,NaN,5,"Comfort/cushioning is awesome, traction went w...",2019-09-26
67,NaN,4,I have 9+ pairs of the 15’s and no 16’s. The 1...,2019-09-26

In [5]:
mean1 = df_nike_air_jordan_1_mid['star_rating'].mean()
mean2 = df_nike_air_force_1_07['star_rating'].mean()
mean3 = df_nike_air_max_97['star_rating'].mean()
mean4 = df_nike_air_max_270['Star rating'].mean()
mean5 = df_nike_air_max_720['Star rating'].mean()
mean6 = df_nike_air_vapormax_flyknit_3['Star rating'].mean()
mean7 = df_nike_m2K_tekno['Star rating'].mean()
mean8 = df_nike_react_element_55['Star rating'].mean()
mean9 = df_nike_zoom_pegasus_turbo_2['Star rating'].mean()
mean10 = df_nike_tanjun['Star rating'].mean()

In [6]:
print ('Mean of star rating(Nike Air Jordan 1 Mid) = ' + str(mean1),  
       '\nMean of star rating(Nike Air Force 1 07) = ' + str(mean2),
       '\nMean of star rating(Nike Air Max 97) = ' + str(mean3),
       '\nMean of star rating(Nike Air Max 270) = ' + str(mean4),
       '\nMean of star rating(Nike Air Max 720) = ' + str(mean5),
       '\nMean of star rating(Nike Air Vapormax Flyknit 3) = ' + str(mean6),
       '\nMean of star rating(Nike M2k Tekno) = ' + str(mean7),
       '\nMean of star rating(Nike React Element 55) = ' + str(mean8),
       '\nMean of star rating(Nike Zoom Pegasus Turbo 2) = ' + str(mean9),
       '\nMean of star rating(Nike Tanjun) = ' + str(mean10),
      )

Mean of star rating(Nike Air Jordan 1 Mid) = 4.590909090909091
Mean of star rating(Nike Air Force 1 07) = 4.656565656565657
Mean of star rating(Nike Air Max 97) = 4.875
Mean of star rating(Nike Air Max 270) = 3.9651162790697674
Mean of star rating(Nike Air Max 720) = 4.809523809523809
Mean of star rating(Nike Air Vapormax Flyknit 3) = 4.390243902439025
Mean of star rating(Nike M2k Tekno) = 4.105263157894737
Mean of star rating(Nike React Element 55) = 4.115384615384615
Mean of star rating(Nike Zoom Pegasus Turbo 2) = 3.404040404040404
Mean of star rating(Nike Tanjun) = 4.257142857142857